.main-div {
    height: 100%;

    .add-truck-btn {
        border: 1px solid black;
        background: white;
        color: black;
        padding: 10px;
        border-radius: 4px;
        outline: none;
    }

    .card-div {
        box-shadow: 0 2px 9px 0 #8e8e93;
        padding: 25px;
        border-radius: 4px;
        background: white;


        h2 {
            color: #000;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .detail-div {
            display: flex;
            justify-content: space-between;
            width: 100%;


            .rs-picker-default .rs-picker-toggle.rs-btn {
                padding: 17px 12px !important;
                border: 1px solid #c5c6c7;
                font-size: initial;
            }

            .rs-picker-toggle-caret {
                top: 16px !important;
            }

            .btn-div {
                display: flex;
                justify-content: end;

                .cancel-btn {
                    margin-right: 10px;
                    padding: 8px 30px;
                    background-color: #8e8e93;
                    color: white;
                    border-radius: 4px;
                    font-size: 18px;
                    outline: none;
                }

                .save-btn {
                    margin-right: 10px;
                    padding: 8px 30px;
                    background: #FF5722;
                    color: white;
                    border-radius: 4px;
                    font-size: 18px;
                    outline: none;
                }
            }
        }
    }

    .table-div {
        padding: 10px 0 0px;
        margin: 20px 0 0px;
        border-radius: 4px;
        margin-bottom: 40px;
        margin-bottom: 100px;
        background: white;
        border: 1px solid;


        h2 {
            text-align: center;
        }
    }
}